@charset "UTF-8";

@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text {
    position: fixed;
    left: 30px;
    top: 10px;
    z-index: 500;
    color: #fff;
}

.fixed-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* //slide1 0~500 */

.slide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide-content {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.slide-content .img1 img {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
}


.slide-content .img1-1 img {
    position: absolute;
    left: 50%;
    top: 400px;
    transform: translateX(-50%);
}

.slide-content .music audio {
    position: absolute;
    left: 50%;
    top: 700px;
    transform: translateX(-50%);
}

.slide-content .start img {
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
}

.slide-content .text p {
    position: absolute;
    left: 780px;
    top: 600px; 
    margin: 0 auto;
    color: #fff;
    font-size: 30px;
    font-family: 'KyoboHandwriting2021sjy';
    width: 500px;
}


.slide-content .carbg img {
    width: 100%;
    height: 100%;
}
